# Server Configuration
PORT=8080
ENVIRONMENT=development

# Database Configuration
DATABASE_URL=postgres://USER:PASSWORD@localhost:DB_PORT/DB_NAME?sslmode=disable

DB_USER=USER
DB_PASSWORD=PASSWORD
DB_NAME=DATABASE
DB_PORT=5432


# JWT Configuration
JWT_SECRET=your-secret-key-change-in-production-min-32-characters-required

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:3000
